
.topnav {
 background-color: rgb(95, 137, 181);
 font-size: small;
 justify-content: end;
 align-items: flex-end;
}

#brand {
    display: flex;
    justify-content: left;  
}

#procelainstudios {
    padding-right: 50px;
}

#professional {
   padding-right: 50px;
}

#blogs {
    padding-right: 50px;
}

#me {
    padding-right: 50px;
}
.banner {
    /* The image used */
    background-image:
    url(../Images/procelain\ banner.jpg)
  }

h1 {
    font-size: 100px;
    justify-content: center; 
}

body {
    background-color: ##d7e3f5;
}
.banner {
    /* The image used */
    background-image:
    url(./Images/procelain\ banner.jpg);
  }
p {
    color: #dae2ee;
    font-size: 50px;
    text-align: center;
}
div {
    
    display: block;
    text-align: center;
    font-size: 50px;
}
.column { background-color: #2e5eac;

}

.container {
    background-color: rgb(208, 229, 235);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.column {
    width: 150px;
    height: 300px;
    margin: 30px;
    transition: 2s;
    padding: 1rem;  
    display: inline-block;  
}
.column:hover {
    width: 200px;
    height: 500px;
    background-color: #9aa2b1;
    
}
 



#blog1 {
       background: rgb(186, 42, 222);
       padding: 20px;
       font-size: 100px;
       font-weight: thin;
       font-family: cursive;
       
       
       
    }
#blog2 {
       background-color: rgb(81, 124, 179);
       padding: 20px;
       font-size: 100px;
       font-weight: thin;
       font-family: cursive;
       
    }
#blog3 {
       background: cornflowerblue;                     
       padding: 20px;
       font-size: 100px;
       font-weight: thin;
       font-family: cursive;
       
    }

    #blog4 {
       background: cornflowerblue;                     
       padding: 20px;
       font-size: 100px;
       font-weight: thin;
       font-family: cursive;
       
    }

    #blog5 {
       background: cornflowerblue;                     
       padding: 20px;
       font-size: 100px;
       font-weight: thin;
       font-family: cursive;
       
    }

footer {
    background-color: beige;
    text-align: center;
    font-size: small;
    image-resolution: 10px;
}